version: '3'

networks:
  rabbitnet:
    name: rabbitnet
    driver: bridge

services:
  rmq0-us:
    image: vesc-1036:latest
    hostname: rmq0-us
    networks:
      - rabbitnet
    volumes:
      - ./defs-3.8-us.json:/var/lib/rabbitmq/definitions.json
      - ./rabbitmq-us.conf:/etc/rabbitmq/conf.d/20-cluster.conf
      - ./mnesia/rmq0-us:/var/lib/rabbitmq/mnesia
  rmq1-us:
    image: vesc-1036:latest
    hostname: rmq1-us
    networks:
      - rabbitnet
    volumes:
      - ./rabbitmq-us.conf:/etc/rabbitmq/conf.d/20-cluster.conf
      - ./mnesia/rmq1-us:/var/lib/rabbitmq/mnesia
  rmq2-us:
    image: vesc-1036:latest
    hostname: rmq2-us
    networks:
      - rabbitnet
    volumes:
      - ./rabbitmq-us.conf:/etc/rabbitmq/conf.d/20-cluster.conf
      - ./mnesia/rmq2-us:/var/lib/rabbitmq/mnesia
  perf-test-us:
    image: pivotalrabbitmq/perf-test:latest
    networks:
      - rabbitnet
    command:
      - --uris=amqp://haproxy-us
      - --servers-startup-timeout=120
      - --rate=1
      - --producers=3
      - --consumers=0
      - --predeclared
      - --exchange=federated-direct
      - --routing-key=federated
      - --flag=persistent
      - --flag=mandatory
    depends_on:
      - rmq-us
    restart: on-failure
  haproxy-us:
    image: haproxy:latest
    hostname: haproxy-us
    networks:
      - rabbitnet
    volumes:
      - ./haproxy-us.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    depends_on:
      - rmq0-us
      - rmq1-us
      - rmq2-us
    ports:
      # HOST:CONTAINER
      - 15682:15672
      - 5682:5672
