version: '3'

networks:
  rabbitnet:
    name: rabbitnet
    driver: bridge

services:
  rmq-ds:
    image: vesc-1036:latest
    networks:
      - rabbitnet
    ports:
      # HOST:CONTAINER
      - 15682:15672
    volumes:
      - ./defs-ds.json:/var/lib/rabbitmq/definitions.json
  rmq-us:
    image: vesc-1036:latest
    networks:
      - rabbitnet
    ports:
      # HOST:CONTAINER
      - 15672:15672
    volumes:
      - ./defs-us.json:/var/lib/rabbitmq/definitions.json
  perf-test-us:
    image: pivotalrabbitmq/perf-test:latest
    networks:
      - rabbitnet
    command:
      - --uri=amqp://docker-rmq-us-1
      - --servers-startup-timeout=30
      - --rate=1
      - --producers=1
      - --consumers=0
      - --predeclared
      - --exchange=federated-direct
      - --routing-key=federated
      - --flag=persistent
      - --flag=mandatory
    depends_on:
      - rmq-us
    restart: on-failure
  perf-test-ds:
    image: pivotalrabbitmq/perf-test:latest
    networks:
      - rabbitnet
    command:
      - --uri=amqp://docker-rmq-ds-1
      - --servers-startup-timeout=30
      - --producers=0
      - --consumers=1
      - --predeclared
      - --queue=federated-ds
    depends_on:
      - rmq-ds
    restart: on-failure
